@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Permanent Marker', cursive; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #151e21;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgb(15, 178, 237);
}

header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header.sticky .logo {
  color: aliceblue;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
    font-weight: 500;
  
}

header ul li a:hover {
  transition: 0.5s;
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}

header.sticky ul li a {
  color: aliceblue;
}

ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border: 4px;
  scale: 0.1;
  transform-origin: left;
  transition: scale 0.25s;
}

ul li a:hover::before {
  scale: 1;
}

/* *********************** SECCION BANNER *********************** */

.sec-banner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.614) 20%, #1b2733 90%),
    url(../img/fondo.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 410px;
  height: 200px;
  backdrop-filter: blur(1px);
}

.sec-banner .titulo {
  color: aliceblue;
  font-size: 55px;
  letter-spacing: 2px;
}

.sec-banner .titulo::before {
  content: "";
  position: absolute;
  left: 37%;
  top: 0;
  width: 25%;
  height: 4px;
  background-color: rgb(15, 178, 237);
  border: 4px;
}

.sec-banner .slogan {
  font-size: 25px;
  color: rgb(15, 178, 237);
}

button {
  height: 40px;
  width: 200px;
  border-radius: 40px;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}

.sabermas {
  width: 200px;
  text-align: center;
  margin: 10px 0;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid rgb(15, 178, 237);
  background: transparent;
  color: aliceblue;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.sabermas .cover {
  background: rgb(15, 178, 237);
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover .cover {
  width: 100%;
}

button:hover {
  border: none;
  color: rgb(255, 255, 255);
}

/* ********************************************************** */

/* *********************** SECCION CLASES *********************** */

.sec-clases {
  width: 100%;
  min-height: 110vh;
  background-color: #1b2733;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.cont-clases {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  width: 70%;
  border-top: 2px solid rgba(240, 248, 255, 0.174);
}

.cont-clases .titulo-cls {
  color: aliceblue;
  font-size: 33px;
  letter-spacing: 2px;
  border-bottom: 4px solid rgb(15, 178, 237);
  padding: 20px 0 5px 0;
}

.frase {
  font-size: 18px;
  text-align: center;
  color: rgba(240, 248, 255, 0.867);
  width: 90%;
  height: 140px;
}

.contenedor-cls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
}

.contenedor-cls .cont-cartas {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  width: 100%;
  padding-bottom: 60px;
  flex-wrap: wrap;
}

.contenedor-cls .cont-cartas .cartas {
  position: relative;
  width: 370px;
  display: flex;
  justify-content: center;
  box-shadow: -1px -1px 6px 0 rgb(21, 30, 33), 4px 4px 16px 2px rgb(56, 72, 78);
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
  transition: 0.3s;
}

.cartas img {
  width: 100%;
  height: 490px;
  object-fit: fill;
  opacity: 0.4;
}

.contenedor-cls .cont-cartas .cartas:hover {
  scale: calc(1.04);
  transition: 0.3s;
}

.contenido-cls {
  position: absolute;
  top: 10px;
  font-size: 25px;
  color: aliceblue;
  text-align: center;
}

.contenedor-cls .btn-det {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  border: 2px solid aliceblue;
  padding: 10px;
  font-size: 18px;
  color: aliceblue;
  transition: 0.3s;
  text-align: center;
}

.contenedor-cls .btn-det:hover {
  background-color: rgb(15, 178, 237);
  color: #000000;
}

#cls {
  left: 0%;
}

/* ********************************************************** */

/* *********************** SECCION COUCHES *********************** */

.sec-couches {
  min-height: max-content;
  width: 100%;
  background-color: #151e21;
  box-shadow: 0px 0px 76px 80px rgba(21, 30, 33, 1);
}

.cont-couch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.cont-couch .titulo-couch {
  color: aliceblue;
  font-size: 33px;
  letter-spacing: 2px;
  border-bottom: 4px solid rgb(15, 178, 237);
}

.contenedorch {
  width: 100%;
  height: max-content;
  padding: 0 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
}

.cont-cartasch {
  background-color: #1b2733;
  width: 650px;
  height: 350px;
  display: flex;
  justify-content: center;
  border: 1px solid aliceblue;
  border-radius: 4px;
}

.cartasch {
  width: 100%;
  height: 100%;
}

.cartasch .foto {
  width: 50%;
  height: 100%;
  object-fit: fill;
  opacity: 0.7;
  float: left;
}

.contenido-couch {
  padding: 5px;
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 100%;
}

.nombre {
  padding-top: 20px;
  color: aliceblue;
  font-size: 25px;
}

.prof {
  color: rgb(15, 178, 237);
  font-size: 15px;
}

.cartasch p {
  padding: 20px;
  color: aliceblue;
}

/* ********************************************************** */

hr {
  width: 70%;
  position: relative;
  opacity: 0.4;
  left: 15%;
}

/* *********************** SECCION CONTACTO *********************** */

.sec-contacto {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.426) 70%, #151e21 90%),
    url(../img/img2.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  border: 2px solid aliceblue;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

h2 {
  text-align: center;
  color: aliceblue;
  font-size: 2em;
  border-bottom: 4px solid rgb(15, 178, 237);
}

.input-box {
  position: relative;
  margin: 30px 0;
  width: 410px;
  border-bottom: 2px solid aliceblue;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: aliceblue;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: aliceblue;
}

.input-box ion-icon {
  position: absolute;
  right: 8px;
  color: aliceblue;
  font-size: 1.2em;
  top: 20px;
}

/* APLICAMOS ESTILO Y ANIMACION A LOS BOTONES */

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  font-size: 1em;
  font-weight: 600;
}

.enviar {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid aliceblue;
  background: transparent;
  color: aliceblue;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.cover {
  background: aliceblue;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
  color: rgb(72, 72, 72);
}

/* ********************************************************** */

/* *********************** VISTAS DISPOSITIVOS *********************** */

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }

  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #151e21;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
  }

  header .logo {
    margin-left: -20px;
    font-size: 18px;
  }

  .menu.active {
    left: 0;
  }

  header ul li a {
    color: aliceblue;
    font-size: 24px;
    margin: 10px;
    
  }

  .toggle {
    width: 40px;
    height: 40px;
    background-image: url("../img/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  .toggle.active {
    background-image: url("../img/close.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }

  .contenidoc {
    flex-direction: column;
  }

  .tarjeta {
    max-width: 95vw;
  }
}

@media (max-width: 600px) {
  /* *********************** SECCION BANNER *********************** */

  .contenido {
    width: 300px;
    height: 500px;
  }

  .sec-banner .titulo {
    font-size: 25px;
    letter-spacing: 2px;
  }

  .sec-banner .slogan {
    font-size: 16px;
    color: rgb(15, 178, 237);
  }

  .sec-banner .titulo::before {
    content: "";
    position: absolute;
    left: 37%;
    top: 180px;
    width: 25%;
    height: 3px;
    border: 4px;
  }

  /* *********************** SECCION CLASES *********************** */

  .cont-clases .titulo-cls {
    font-size: 25px;
  }

  .frase {
    font-size: 13px;
    padding: 0 20px 20px;
    letter-spacing: 1px;
    height: max-content;
    text-align: justify;
  }

  .contenedor-cls {
    height: max-content;
  }

  .contenedor-cls .btn-det {
    padding: 10px 20px;
  }

  .contenedor-cls .cont-cartas {
    width: 100%;
    grid-gap: 35px;
    padding-bottom: 30px;
  }

  .contenedor-cls .cont-cartas .cartas {
    position: relative;
    width: 240px;
    height: 320px;
  }

  .cartas img {
    height: 250px;
  }

  .contenido-cls {
    font-size: 20px;
  }

  .contenedor-cls .btn-det {
    font-size: 13px;
  }

  /* *********************** SECCION COUCHES *********************** */

  .cont-couch .titulo-couch {
    font-size: 25px;
  }

  .contenedorch {
    padding: 0 0 40px 0;
    justify-content: center;
    grid-gap: 30px;
  }

  .cont-cartasch {
    width: 300px;
    height: 500px;
    flex-direction: column;
    border-radius: 5px;
  }

  .cartasch {
    width: 100%;
    height: 100%;
  }

  .cartasch .foto {
    width: 100%;
    height: 60%;
    object-fit: fill;
    opacity: 0.7;
    float: left;
    border-bottom: 2px solid aliceblue;
  }

  .contenido-couch {
    padding: 5px;
    text-align: center;
    width: 100%;
  }

  .nombre {
    padding-top: 10px;
    color: aliceblue;
    font-size: 16px;
  }

  .prof {
    font-size: 13px;
  }

  .cartasch p {
    padding: 10px;
    font-size: 13px;
  }

  /* *********************** SECCION CONTACTO *********************** */

  .form-box {
    width: 290px;
    height: 400px;
  }

  h2 {
    font-size: 1.7em;
  }

  .input-box {
    margin: 20px 10px;
    width: 250px;
  }

  .input-box label {
    position: absolute;
    top: 50%;
    left: 3px;
    font-size: 0.9em;
  }

  .input-box input:focus ~ label,
  .input-box input:valid ~ label {
    top: -2px;
  }

  .input-box input {
    width: 100%;
    height: 40px;
    font-size: 0.9em;
    padding: 0 35px 0 0;
  }

  .input-box ion-icon {
    font-size: 1em;
    top: 15px;
  }

  /* APLICAMOS ESTILO A LOS BOTONES */

  button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    font-size: 0.8em;
    font-weight: 600;
  }

  .enviar {
    width: 100%;
    margin: 5px 0;
  }

  /* ********************************************************** */
}

@media (max-width: 991px) and (max-height: 321px) {
  .menu {
    padding: 30px 50px;
  }

  header ul li a {
    font-size: 20px;
  }

  /* *********************** SECCION BANNER *********************** */

  .contenido {
    width: 300px;
    height: 400px;
  }

  .sec-banner .titulo {
    font-size: 25px;
    letter-spacing: 2px;
  }

  .sec-banner .slogan {
    font-size: 16px;
    color: rgb(15, 178, 237);
  }

  .sec-banner .titulo::before {
    content: "";
    position: absolute;
    left: 37%;
    top: 130px;
    width: 25%;
    height: 3px;
    border: 4px;
  }

  /* *********************** SECCION CLASES *********************** */

  .cont-clases .titulo-cls {
    font-size: 25px;
  }

  .frase {
    font-size: 13px;
    padding: 0 20px 20px;
    letter-spacing: 1px;
    height: max-content;
    text-align: justify;
  }

  .contenedor-cls {
    height: max-content;
  }

  .contenedor-cls .btn-det {
    padding: 10px 20px;
  }

  .contenedor-cls .cont-cartas {
    width: 100%;
    grid-gap: 35px;
    padding-bottom: 30px;
  }

  .contenedor-cls .cont-cartas .cartas {
    position: relative;
    width: 240px;
    height: 320px;
  }

  .cartas img {
    height: 250px;
  }

  .contenido-cls {
    font-size: 20px;
  }

  .contenedor-cls .btn-det {
    font-size: 13px;
  }

  .sec-contacto {
    height: 500px;
  }

  /* ********************************************************** */

  /* *********************** SECCION CONTACTO *********************** */
  .form-box {
    width: 290px;
    height: 370px;
    margin: 15px;
  }

  h2 {
    font-size: 1.7em;
  }

  .input-box {
    margin: 20px 10px;
    width: 250px;
  }

  .input-box label {
    position: absolute;
    top: 50%;
    left: 3px;
    font-size: 0.9em;
  }

  .input-box input:focus ~ label,
  .input-box input:valid ~ label {
    top: -2px;
  }

  .input-box input {
    width: 100%;
    height: 40px;
    font-size: 0.9em;
    padding: 0 35px 0 0;
  }

  .input-box ion-icon {
    font-size: 1em;
    top: 15px;
  }

  /* APLICAMOS ESTILO A LOS BOTONES */

  button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    font-size: 0.8em;
    font-weight: 600;
  }

  .enviar {
    width: 100%;
    margin: 5px 0;
  }
}

/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: rgb(15, 178, 237);
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
